.node {
  display: inline-block;
  height: 25px;
  border: 0px;
  width: 25px;
  border: 1px #afd8f8 solid;
}

.node-start {
  background: lightgreen;
}

.node-finish {
  background: red;
}

.node-wall {
  background: #0c3547;
  border: 1px #0c3547 solid;
}

.node-open {
  background: white;
}

@-webkit-keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes wallAnimation {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.node-visited {
  -webkit-animation-name: visitedAnimation;
  animation-name: visitedAnimation;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes visitedAnimation {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes visitedAnimation {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path {
  -webkit-animation-name: shortestPath;
  animation-name: shortestPath;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes shortestPath {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    background-color: #fffe6a;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #fffe6a;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #fffe6a;
  }
}

@keyframes shortestPath {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    background-color: #fffe6a;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #fffe6a;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #fffe6a;
  }
}

/*# sourceMappingURL=Node.css.map */